@import "~bootstrap/dist/css/bootstrap.min.css";
#nuevaExcusa {
  border-color: #aaa #000 #000 #aaa;
}
#nuevaExcusa:active {
  border-color: #000 #aaa #aaa #000;
}
#nuevaExcusa {
  background-color: cyan;
}
a {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: mediumvioletred;
}
